<div *ngFor="let i of type; let id = index">
  <div style="
              background-image: url('assets/find2.png');
              background-repeat: no-repeat;
              color: white;
              padding: 5px;
              overflow: hidden;
              width: 30%;
              text-overflow: ellipsis;
              text-transform: uppercase;
              margin-bottom: 5px;">
    Gia sư {{i.title}}
  </div>
  <div style="background: white">
    <div style="padding-top:10px">
      <div style="margin: 15px">
        <span *ngFor="let item of i.tutors | paginate: { id: id, itemsPerPage: 3, currentPage: p[id] }">
          <app-tutor-card [tutor]="item" style="padding-right:20px"></app-tutor-card>
        </span>
      </div>
      <pagination-controls id={{id}} (pageChange)="p[id] = $event"></pagination-controls>
    </div>
  </div>


</div>
