
.shadowh {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.52);
  background-color: white;
  width : 200px;
  height: 300px;
  text-align:center;
  border-radius: 10px
}

.image{
  text-align: center;
  padding: 10px;
  height: 120px;
  margin-bottom: 5px;
}
.content{
  height: 130px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.cardct {
  padding: 0 10px 10px!important;
  text-align: center;
}

.cardct>a {
  padding: 5px;
  font-size: 16px;
  color: #1e1b1bf5;
  line-height: 16px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.cardct>a {
  color: #000;
  font-weight: 700;
}

.cart-detail {
  color: #6c757d;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
