<div class="wrap">
  <div class="header">

  </div>

  <div class="main">
    <h5>Đăng nhập tài khoản</h5>
    <form>
      <div class="row_form">
        <div>Số điện thoại</div>
        <input type="text" placeholder="Số điện thoại đăng ký của bạn">
      </div>

      <div class="row_form">
        <div>Mật khẩu</div>
        <input type="text" placeholder="Mật khẩu cho tài khoản này">
      </div>

      <div class="row_form">
        <button type="button">Đăng nhập</button>
      </div>
    </form>
  </div>
  <div class="footer"></div>

</div>
