* {
  box-sizing: border-box;
}
textarea, input{
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 5px;
}
.input-group-text {
  background-color:  hsl(0, 2%, 87%);
  border:none;
}
.wrap{
  padding: 15px;

}
.col-8{
  padding-left:0;
  padding-right:0;
}
.main{
  padding-left: 20%;
  padding-right: 20%;
}
.row{
  margin-top:10px;
}

@media screen and (max-width: 800px) {
.col-3
.col-9
.wrap {
      width: 100%;
      padding: 0;
  }
}
