
.route:hover{
  background-color: rgb(104, 100, 100);
}
nav > div{
  padding:10px;
  display: inline-block;

}

.left{
  float: left;
  margin-right:3px;
  width:19%;
  padding-right:20px;
  padding-bottom:20px;
  padding-top:20px;
  padding-left:0;
  background-color:#2A3F54;
  color: white;
}

.left >div{
  padding:10px;
  border: solid 1px;


}
.right{
  float: left;
  width:80%;
  overflow-y: scroll;
  height: 700px;
  background-color: white;
  padding:10px;

}
