<!-- <img class="img-fluid" src="https://i.pinimg.com/564x/65/08/b1/6508b1c4af949ef600c42480d8753e91.jpg" alt="avatar" width="300" height="205"> -->
<div class="col-md-12 col-sm-12 pr-5 pl-5">
    <div class="row" style="background-color: aquamarine;">
      <div class="col-lg-3 col-md-3 col-sm-4 col-4">
        <img id="previewImage" class="img-thumbnail border-0 circle" src="https://i.pinimg.com/564x/65/08/b1/6508b1c4af949ef600c42480d8753e91.jpg"
            alt="avatar">
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 teacher-info">
    <div>
      <h4>THÔNG TIN CÁ NHÂN</h4>
    </div>
    <form class="pad " enctype="multipart/form-data">
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Họ tên: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" placeholder="Nhập họ và tên của bạn" class="form-info" id="name">
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Ngày sinh: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-4 col-sm-6">
          <input type="text" placeholder="Nhập ngày sinh" class="form-info" id="dateOfBirth">
        </div>
        <div class="col-md-5 form-inline">
          <label class="textview" style="margin-right: 20px;">
            Giới tính: <i style="color:red">*</i>
          </label>
          <div class="form-group lblcheckgt">
            <input value="male" class="mr-2" name="sex" id="male" type="radio">
            <label for="male" class="viewgt" style="margin-right:20px">
              Nam
            </label>
          </div>
          <div class="form-group lblcheckgt">
            <input value="female" class="mr-2" name="sex" id="female" type="radio">
            <label for="female" class="viewgt" style="margin-right:20px">
              Nữ
            </label>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Nơi ở hiện tại:
          </label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" placeholder="Vui lòng nhập chi tiết nơi ở hiện tại" class="form-info" id="address">
        </div>
      </div>
      <div class="row py-3" style="padding-left: 15px">
        <label class="textview">
          Giới thiệu về bản thân <i style="color:red">*</i>
        </label>
        <div class="col-md-12">
          <textarea id="description" name="description" placeholder="Giới thiệu đôi nét về bản thân" rows="3" cols="30"
            style="width:100%;"></textarea>
        </div>
      </div>
      <h4>Học vấn</h4>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Học trường: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" placeholder="Nhập tên trường của bạn" class="form-info" id="school">
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Chuyên ngành: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" placeholder="Chuyên ngành học" class="form-info" id="major">
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Năm tốt nghiệp: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" placeholder="Năm tốt nghiệp" class="form-info" id="graduation_year">
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Hiện tại là: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-10 col-sm-9" id="job">
          <select id="job" name="job" class="form-info">
            <option value="" disabled selected>Nghề nghiệp hiện tại</option>
            <option value="sinh_vien">Sinh viên</option>
            <option value="hoc_sinh">Học sinh</option>
            <option value="giao_vien_c1">Giáo viên cấp 1</option>
            <option value="giao_vien_c2">Giáo viên cấp 2</option>
            <option value="giao_vien_c3">Giáo viên cấp 3</option>
            <option value="giang_vien">Giảng viên đại học</option>
          </select>
        </div>
      </div>
      <div class="row py-3" style="padding-left: 15px">
        <label class="textview">
          Kinh nghiệm giảng dạy
        </label>
        <div class="col-md-12">
          <textarea class="form-info" id="description" name="description" placeholder="Chi tiết" rows="3" cols="30"
            style="width:100%;"></textarea>
        </div>
      </div>
      <div class="row py-3" style="padding-left: 15px">
        <label class="textview">
          Thành tích
        </label>
        <div class="col-md-12">
          <textarea class="form-info" id="description" name="description" placeholder="Chi tiết" rows="3" cols="30"
            style="width:100%;"></textarea>
        </div>
      </div>
      <div>
        <h4>THÔNG TIN GIA SƯ</h4>
      </div>
      <div class="row py-3" style="padding-left: 15px">
        <label class="textview">
          Môn học sẽ dạy: <i style="color:red">*</i>
        </label>
        <div class="col-md-12 row">
          <div class="pr-4 pl-4">
            <input id="math" type="checkbox" name="math" value="1">
            <label for="math">Toán</label>
          </div>
          <div class="pr-4 pl-4">
            <input id="physical" type="checkbox" name="physical" value="1">
            <label for="physical">Vật lý</label>
          </div>
          <div class="pr-4 pl-4">
            <input id="chemistry" type="checkbox" name="chemistry" value="1">
            <label for="chemistry">Hóa học</label>
          </div>
          <div class="pr-4 pl-4">
            <input id="biology" type="checkbox" name="biology" value="1">
            <label for="biology">Sinh học</label>
          </div>
          <div class="pr-4 pl-4">
            <input id="history" type="checkbox" name="history" value="1">
            <label for="history">Lịch sử</label>
          </div>
          <div class="pr-4 pl-4">
            <input id="geography" type="checkbox" name="geography" value="1">
            <label for="geography">Địa lý</label>
          </div>
          <div class="pr-4 pl-4">
            <input id="english" type="checkbox" name="english" value="1">
            <label for="english">Tiếng anh</label>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">Khu vực dạy<i style="color:red">*</i></label>
        </div>
        <div class="col-md-10 col-sm-9">
          <select id="area" class="form-info">
            <option value="" disabled>Khu vực</option>
            <option value="ha_noi">Hà Nội</option>
            <option value="ho_chi_minh">Hồ Chí Minh</option>
          </select>
        </div>
      </div>
      <div class="row py-3 ">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Hình thức dạy: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-10 col-sm-9 row">
          <div class="form-group lblcheckgt col-md-6 -col-sm-6">
            <input value="home" name="teachtype" id="teachtype_home" type="radio">
            <label for="teachtype_home" class="viewgt">
              Gia sư tại nhà
            </label>
          </div>
          <div class="form-group lblcheckgt col-md-6 -col-sm-6">
            <input value="class" name="teachtype" id="teachtype_class" type="radio">
            <label for="teachtype_class" class="viewgt">
              Online trực tuyến
            </label>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">
            Học phí dự kiến: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-md-10 col-sm-9">
          <input type="text" placeholder="Nhập học phí dự kiến" class="form-info" id="tuition">
        </div>
      </div>
      <label class="textview" style="float: left;">
        Buổi có thể dạy:
      </label>
      <div class="detaijob-body2 lichday row">
        <div class="canle pl-2 pr-2">
          <p style="color:#003471;font-weight:500">Thứ 2
          </p>
          <ul>
            <li>
              <input id="CMonMorning" type="checkbox" name="CMonMorning" value="1">
              <label class="" for="CMonMorning">Sáng</label>
            </li>
            <li>
              <input id="CMonAfter" type="checkbox" name="CMonAfter" value="1">
              <label class="" for="CMonAfter">Chiều</label>
            </li>
            <li>
              <input id="CMonNight" type="checkbox" name="CMonNight" value="1">
              <label class="" for="CMonNight">Tối</label>
            </li>
          </ul>
        </div>
        <div class="canle pl-2 pr-2">
          <p style="color:#003471;font-weight:500">Thứ 3
          </p>
          <ul>
            <li>
              <input id="CTueMorning" type="checkbox" name="CTueMorning" value="1">
              <label class="" for="CTueMorning">Sáng</label>
            </li>
            <li>
              <input id="CTueAfter" type="checkbox" name="CTueAfter" value="1">
              <label class="" for="CTueAfter">Chiều</label>
            </li>
            <li>
              <input id="CTueNight" type="checkbox" name="CTueNight" value="1">
              <label class="" for="CTueNight">Tối</label>
            </li>
          </ul>
        </div>
        <div class="canle pl-2 pr-2">
          <p style="color:#003471;font-weight:500">Thứ 4
          </p>
          <ul>
            <li>
              <input id="CWeMorning" type="checkbox" name="CWeMorning" value="1">
              <label class="" for="CWeMorning">Sáng</label>
            </li>
            <li>
              <input id="CWeAfter" type="checkbox" name="CWeAfter" value="1">
              <label class="" for="CWeAfter">Chiều</label>
            </li>
            <li>
              <input id="CWeNight" type="checkbox" name="CWeNight" value="1">
              <label class="" for="CWeNight">Tối</label>
            </li>
          </ul>
        </div>
        <div class="canle pl-2 pr-2">
          <p style="color:#003471;font-weight:500">Thứ 5
          </p>
          <ul>
            <li>
              <input id="CThuMorning" type="checkbox" name="CThuMorning" value="1">
              <label class="" for="CThuMorning">Sáng</label>
            </li>
            <li>
              <input id="CThuAfter" type="checkbox" name="CThuAfter" value="1">
              <label class="" for="CThuAfter">Chiều</label>
            </li>
            <li>
              <input id="CThuNight" type="checkbox" name="CThuNight" value="1">
              <label class="" for="CThuNight">Tối</label>
            </li>
          </ul>
        </div>
        <div class="canle pl-2 pr-2">
          <p style="color:#003471;font-weight:500">Thứ 6
          </p>
          <ul>
            <li>
              <input id="CFriMorning" type="checkbox" name="CFriMorning" value="1">
              <label class="" for="CFriMorning">Sáng</label>
            </li>
            <li>
              <input id="CFriAfter" type="checkbox" name="CFriAfter" value="1">
              <label class="" for="CFriAfter">Chiều</label>
            </li>
            <li>
              <input id="CFriNight" type="checkbox" name="CFriNight" value="1">
              <label class="" for="CFriNight">Tối</label>
            </li>
          </ul>
        </div>
        <div class="canle pl-2 pr-2">
          <p style="color:#003471;font-weight:500">Thứ 7
          </p>
          <ul>
            <li>
              <input id="CSatMorning" type="checkbox" name="CSatMorning" value="1">
              <label class="" for="CSatMorning">Sáng</label>
            </li>
            <li>
              <input id="CSatAfter" type="checkbox" name="CSatAfter" value="1">
              <label class="" for="CSatAfter">Chiều</label>
            </li>
            <li>
              <input id="CSatNight" type="checkbox" name="CSatNight" value="1">
              <label class="" for="CSatNight">Tối</label>
            </li>
          </ul>
        </div>
        <div class="canle pl-2 pr-2">
          <p style="color:#003471;font-weight:500">Chủ nhật
          </p>
          <ul>
            <li>
              <input id="CSunMorning" type="checkbox" name="CSunMorning" value="1">
              <label class="" for="CSunMorning">Sáng</label>
            </li>
            <li>
              <input id="CSunAfter" type="checkbox" name="CSunAfter" value="1">
              <label class="" for="CSunAfter">Chiều</label>
            </li>
            <li>
              <input id="CSunNight" type="checkbox" name="CSunNight" value="1">
              <label class="" for="CSunNight">Tối</label>
            </li>
          </ul>
        </div>
        <p style="float:left;color:#003471;margin-top:10px;font-size:14px;font-style:italic">Chọn những buổi bạn có thể
          dậy</p>
        <br>
      </div>
      <div class="py-3">
        <label class="textview">
          Thông tin thêm
        </label>
        <div class="col-md-12">
          <textarea class="form-info" id="description" name="description" placeholder="Chi tiết" rows="3" cols="30"
            style="width:100%;"></textarea>
        </div>
      </div>
      <h4>Thông tin liên hệ</h4>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">Email</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <span class="form-control placeholder_italic form-control_padding"
            style="text-align:left;background:#363636;color:#fff;">email@gmail.com</span>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-2 col-sm-3">
          <label class="textview">Số điện thoại</label>
        </div>
        <div class="col-md-10 col-sm-9">
          <span class="form-control placeholder_italic form-control_padding"
            style="text-align:left;background:#363636;color:#fff;">00000000</span>
        </div>
      </div>
      <div class="col-md-12" style="text-align: center;">
        <button type="submit" class="btn btn-primary">Hoàn tất</button>
      </div>
    </form>
  </div>