

input{
  padding:4px 4px;
  color: #495057;

}

textarea, input{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.teacher-info {
    background: #fff;
    border: 1px solid #f2f2f2;
    padding-bottom: 40px;
}

.teacher-info h4 {
    text-decoration: underline;
    text-decoration-color: #fd8d58;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.teacher-info h4 {
    background-color: #fff;
    color: #264a7d;
    padding-top: 20px;
    margin: auto;
}

.pad {
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.textview {
    /* font-size: 14px; */
    font-weight: 600;
}

.form-info {
    width: 100%;
    padding: 5px 10px;
}

.form-inline {
    margin-left: 50px;
}

.lblcheckgt {
    width: auto!important;
}

.detaijob-body2 {
    float: left;
    width: 100%;
}

.lichday {
    text-align: center;
    /* float: right; */
}

.canle {

    float: left;
    width: 13.33333333%;
    padding: 10px;

}

li {
    list-style-type: none;
    text-align: left;
}

.circle {
    border-radius: 50%;;
}
