<div class="wrap">
  <div class="header">

  </div>

  <div class="main">
    <h5>Đăng ký tài khoản</h5>
    <form>
      <div class="row_form">

        <div>Họ và tên</div>
        <input type="text" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" placeholder="Họ và tên đầy đủ của bạn ">
      </div>
      <div class="row_form">
        <div>Số điện thoại</div>
        <input type="text" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}" placeholder="Số điện thoại đăng ký của bạn">
      </div>
      <div class="row_form">
        <div>Email</div>
        <input type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Email đăng ký">
      </div>
      <div class="row_form">
        <div>Mật khẩu</div>
        <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Mật khẩu cho tài khoản này">
      </div>
      <div class="row_form">
        <div>Xác nhận mật khẩu</div>
        <input type="password" placeholder="Nhập lại mẩu khẩu bạn vừa tạo">
      </div>
      <div class="row_form">
        <button type="button" (click)=signUp()>Đăng ký</button>
      </div>
    </form>
  </div>
  <div class="footer"></div>

</div>
