<div class="col-12 class-info">
  <form class="viewtopnewclass" action="">
    <div>
      <h4>THÔNG TIN LỚP</h4>
    </div>
    <div class="row py-3">
      <div class="col-3">
        <label class="textview">
          Tóm tắt yêu cầu tìm gia sư: <i style="color:red">*</i>
        </label>
      </div>
      <div class="col-9">
        <input type="text" name="mo_ta" [(ngModel)]="new_class.mo_ta"
          placeholder="Ví dụ: Tìm gia sư toán lớp 1 quận Hoàn Kiếm" class="form-info">
      </div>
    </div>
    <div class="row py-3">
      <div class="col-3">
        <label class="textview">
          Môn học: <i style="color:red">*</i>
        </label>
      </div>
      <div class="col-3">
        <input type="text" name="mon_hoc" [(ngModel)]="new_class.mon_hoc"
          placeholder="Ví dụ: Toán, Lý, Hóa" class="form-info">
      </div>
      <div class="col-6 row">
        <div class="col-3">
          <label class="textview">
            Giới tính: <i style="color:red">*</i>
          </label>
        </div>
        <div class="col-2 form-group lblcheckgt">
          <input value="nam" class="mr-2" name="yeu_cau_gioi_tinh" [(ngModel)]="new_class.yeu_cau_gioi_tinh" type="radio">  Nam
        </div>
        <div class="col-2 form-group lblcheckgt">
          <input value="nu" class="mr-2" name="yeu_cau_gioi_tinh" [(ngModel)]="new_class.yeu_cau_gioi_tinh" type="radio">  Nữ
        </div>
        <div class="col-5 form-group lblcheckgt">
          <input value="other" class="mr-2" name="yeu_cau_gioi_tinh" [(ngModel)]="new_class.yeu_cau_gioi_tinh" type="radio">  Không yêu cầu
        </div>
      </div>
    </div>
    <div class="row py-3 ">
      <div class="col-3">
        <label class="textview">
          Hình thức dạy: <i style="color:red">*</i>
        </label>
      </div>
      <div class="col-9 row">
        <div class="form-group lblcheckgt col-md-6 -col-sm-6">
          <input value="dạy tại nhà" name="hinh_thuc_day" type="radio" [(ngModel)]="new_class.hinh_thuc_day">  Gia sư tại nhà
        </div>
        <div class="form-group lblcheckgt col-md-6 -col-sm-6">
          <input value="dạy online" name="hinh_thuc_day" type="radio" [(ngModel)]="new_class.hinh_thuc_day">  Online trực tuyến
        </div>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-3">
        <label class="textview">
          Số buổi học: <i style="color:red">*</i>
        </label>
      </div>
      <div class="col-9">
        <input type="text" name="so_buoi_hoc_moi_tuan" [(ngModel)]="new_class.so_buoi_hoc_moi_tuan"
          placeholder="Nhập số buổi học trong một tuần" class="form-info">
      </div>
    </div>
    <div class="row py-3 ">
      <div class="col-3">
        <label class="textview">
          Giờ học 1 buổi: <i style="color:red">*</i>
        </label>
      </div>
      <div class="col-9 row">
        <div class="form-group lblcheckgt col-3">
          <input value="1" name="so_gio_moi_buoi" type="radio" [(ngModel)]="new_class.so_gio_moi_buoi">  1h
        </div>
        <div class="form-group lblcheckgt col-3">
          <input value="1.5" name="so_gio_moi_buoi" type="radio" [(ngModel)]="new_class.so_gio_moi_buoi">  1.5h
        </div>
        <div class="form-group lblcheckgt col-3">
          <input value="2" name="so_gio_moi_buoi" type="radio" [(ngModel)]="new_class.so_gio_moi_buoi">  2h
        </div>
        <div class="form-group lblcheckgt col-3">
          <input value="2.5" name="so_gio_moi_buoi" type="radio" [(ngModel)]="new_class.so_gio_moi_buoi">  2.5h
        </div>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-3">
        <label class="textview">
          Học phí dự kiến: <i style="color:red">*</i>
        </label>
      </div>
      <div class="col-9">
        <input type="text" name="gia_thue_moi_buoi" [(ngModel)]="new_class.gia_thue_moi_buoi" placeholder="Nhập học phí dự kiến" class="form-info">
      </div>
    </div>
    <div class="row py-3">
      <div class="col-3">
        <label class="textview">
          Địa điểm chi tiết: <i style="color:red">*</i>
        </label>
      </div>
      <div class="col-9">
        <input type="text" name="dia_chi" [(ngModel)]="new_class.dia_chi" placeholder="Nhập địa chỉ diễn ra lớp học" class="form-info">
      </div>
    </div>
    <h4>THÔNG TIN LIÊN HỆ</h4>
    <div class="row py-3">
      <div class="col-3">
        <label class="textview">Email</label>
      </div>
      <div class="col-9">
        <input type="text" name="email" [value]="profile.email"
          class="form-control placeholder_italic form-control_padding"
          style="text-align:left;background:#363636;color:#fff;" disabled>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-3">
        <label class="textview">Số điện thoại</label>
      </div>
      <div class="col-9">
        <input type="text" name='phone' [value]="profile.phone"
          class="form-control placeholder_italic form-control_padding"
          style="text-align:left;background:#363636;color:#fff;" disabled>
      </div>
    </div>
    <div class="col-12" style="text-align: center;">
      <button type="submit" class="btn btn-primary" (click)="submit()">Hoàn tất</button>
    </div>
  </form>
</div>