<div class = "box">
    <div class = "content">
        <a href="">
            <p class = "title"> {{title}}</p>
            <p class = "showdetail">
                <span>XEm CHi TIết</span>
            </p>
        </a>
        <p class = "detail">{{detail}}</p>
        <div class="left">
            <span>
                {{address}}
            </span>
            <span>
                {{subject}}
            </span>
        </div>
        <div>
            <p style="font-style: oblique; color: red">$: {{wage}} USD</p>
        </div>
    </div>
    
</div>
<app-detail-find-tutor></app-detail-find-tutor>
