<div>
    <div class="card shadowh border-0">
        <a class="position-relative" href="{{ link }}">
            <img class="img-thumbnail border-0" src="{{ img }}" alt="{{ name }}">
            <span class="d-block position-absolute w-100 text-center text-white py-1 font-weight-bold"
                style=" background-color: #3d3c39; opacity: 0.7;bottom: 0;">
                <i class="fa fa-map mr-2"></i>
                {{ address }}
            </span>
        </a>
        <div class="cardct card-body">
            <a href="{{ link }}">{{ name }} </a>
            <span class="text-smview d-block"><i class="fa fa-book mr-2"></i> Gia sư {{ class }} </span>
            <span class="text-sm d-block">
                <i class="fa fa-dolar mr-2"></i>
                <span style="color: #ff8401; font-weight: bold;">
                    Từ: {{ renter }} đ/buổi
                </span>
            </span>
            <span cart-detail>{{ description }}</span>
            <a class="btns" href="{{ link }}">Xem chi tiết</a>
        </div>
    </div>
    <app-card-find-tutor></app-card-find-tutor>
</div>