<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.js"></script>

<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <app-tutor
        [id]="slide.id"
        [name]="slide.name"
        [address]="slide.address"
        [class]="slide.class"
        [description]="slide.description"
        [renter]="slide.renter"
        [link]="slide.link"
        [img]="slide.img"
        ></app-tutor>

    </div>
</ngx-slick> -->
