<div class="col-md-12 col-sm-12 teacher-info">
  <div>
    <h4>THÔNG TIN CÁ NHÂN</h4>
  </div>
  <form class="pad " enctype="multipart/form-data">
    <div class="row py-3">
      <div class="col-2">
        <img id="previewImage" class="img-thumbnail circle" src={{profile.hinh_dai_dien_url}} alt="avatar">
      </div>
      <div class="col-10">
        <div class="row py-3">
          <div class="col-2">
            <label class="textview">
              Họ tên: <i style="color:red">*</i>
            </label>
          </div>
          <div class="col-10">
            <input type="text" name="ho_ten" placeholder="Nhập họ và tên của bạn" class="form-info"
              [(ngModel)]="profile.ho_ten">
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2">
            <label class="textview">
              Ngày sinh: <i style="color:red">*</i>
            </label>
          </div>
          <div class="col-10">
            <input type="text" name="ngay_sinh" placeholder="Nhập ngày sinh" class="form-info"
              [(ngModel)]="profile.ngay_sinh">
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2">
            <label class="textview">
              Giới tính: <i style="color:red">*</i>
            </label>
          </div>
          <div class="col-10 row">
            <div class="col-3">
              <input value="nam" name="gioi_tinh" type="radio" [(ngModel)]="profile.gioi_tinh" /> Nam
            </div>
            <div class="col-3">
              <input value="nu" name="gioi_tinh" type="radio" /> Nữ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-2">
        <label class="textview">
          Nơi ở hiện tại:
        </label>
      </div>
      <div class="col-10">
        <input type="text" name="dia_chi" placeholder="Vui lòng nhập chi tiết nơi ở hiện tại"
          [(ngModel)]="profile.dia_chi" class="form-info">
      </div>
    </div>
    <div class="row py-3" style="padding-left: 15px">
      <label class="textview">
        Giới thiệu về bản thân <i style="color:red">*</i>
      </label>
      <div class="col-12">
        <textarea name="gioi_thieu" placeholder="Giới thiệu đôi nét về bản thân" rows="3" cols="30"
          [(ngModel)]="profile.gioi_thieu" style="width:100%;"></textarea>
      </div>
    </div>
    <h4>THÔNG TIN LIÊN HỆ</h4>
    <div class="row py-3">
      <div class="col-2">
        <label class="textview">Email</label>
      </div>
      <div class="col-10">
        <input type="text" name="email" [(ngModel)]="profile.email"
          class="form-control placeholder_italic form-control_padding"
          style="text-align:left;background:#363636;color:#fff;">
      </div>
    </div>
    <div class="row py-3">
      <div class="col-2">
        <label class="textview">Số điện thoại</label>
      </div>
      <div class="col-10">
        <input type="text" name='phone' [(ngModel)]="profile.phone"
          class="form-control placeholder_italic form-control_padding"
          style="text-align:left;background:#363636;color:#fff;">
      </div>
    </div>
    <div class="col-md-12" style="text-align: center;">
      <button type="submit" class="btn btn-primary" (click)="submit()">Cập nhật thông tin</button>
    </div>
  </form>
</div>