<div style="display: inline-block;" >
  <div class="shadowh"[ngStyle]="{background: color}">
    <div class="image">
      <div style="text-align: center">
        <img src="{{ tutor.img }}" alt="{{ tutor.name }}">
        <div style="background-color: hsl(45, 3%, 23%); color: white">{{ tutor.address }}</div>
      </div>
    </div>

    <div class="content">
      <div class="cardct card-body">
        <a href="{{ tutor.link }}">{{ tutor.name }} </a>
        <div>Gia sư {{ tutor.class }} </div>
        <div>
          <div style="color: #ff8401; font-weight: bold;">
            Từ: {{ tutor.renter }} đ/buổi
          </div>
        </div>
        <div class=cart-detail>{{ tutor.description }}</div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary btn-sm" (click)=movetoDetail()> Xem chi tiết</button>
    </div>
  </div>
</div>

